astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
certifi==2019.11.28
colorama==0.4.3
httplib2==0.15.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.0.2
nose-exclude==0.5.0
numpy==1.17.4
olefile==0.46
packaging==20.0
pandas==0.25.3
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pycairo==1.18.2
pycodestyle==2.5.0
pylint==2.4.4
pymongo==3.9.0
pyparsing==2.4.6
pytest==5.3.2
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
wcwidth==0.1.7
wincertstore==0.2
wrapt==1.11.2
